// Screen Sizes
$extra-small-phones: 320px;
$large-phones: 425px;
$tablet: 786px;
$small-laptop: 1024px;
$big-laptop: 1440px;

// Colors
$blue: #4285f4;
$light-blue: #7d99ff;
$light-grey: #e2e2e2;
$red: #db4437;
$light-red: #ffb7b3;
$green: #15bc64;
$light-green: #bdefd4;
$yellow: #f4b400;
$light-yellow: #ffe7ab;

a {
    color: $light-blue;
    position: relative;
    display: inline-block;
}

a:hover {
    color: $blue;
}
