@import "~@/styles/_variables.scss";

// Header Area
  .header {
    display: grid;
    grid-template-columns: 2fr minmax(300px, 400px);
    grid-template-rows: 0.1fr;

    @media screen and (max-width: $tablet) {
      margin-top: 8rem;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
        " image "
        " text1 "
        " text2 "
    }

    grid-gap: 1rem;
    margin: 4rem auto;
    width: 90%;
    grid-template-areas: " text1 image "
    " text2 image ";
  }

  .header-text-2 {
    font-size: 1.5rem;
    grid-area: text2;
  }

  .header-text-3 {
    font-size: 1.5rem;
    grid-area: text3;
  }

  .header-image {
    grid-area: image;
    align-self: center;
  }

  .subheading {
    text-transform: uppercase;
    margin: auto;
    width: 90%;
  }

// Projects Area
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    @media screen and (max-width: $large-phones) {
      grid-template-columns: repeat(1, 1fr);
    }

    grid-gap: 1rem;
    margin: 2rem auto;
    width: 90%;
  }

  .card {
    background-color: white;
    border-radius: 10px;
    border: 1px solid $light-grey;
    position: relative;
    box-shadow: none;
    transition: all 0.3s ease-out;
  }
  .card:hover, .card:focus {
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 10px rgba(55, 55, 55, 0.057);
    cursor: default;
  }

  .card-top,
  .card-top>img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }

  .card-content {
    padding: 1.0rem;
    text-align: left;
  }